
html {
  background-color: #fffcf5;
}

body {
  font-family: "Galdeano", sans-serif;
  margin: 10px 30px;
  background-color: #fffcf5;
  word-spacing: 1px;
}

.content {
  max-width: 900px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  border-bottom: 1px dashed;
  //font-weight: 100;
  color: black;

  &:hover {
    background: #ffe097;
  }
}

.header {
  text-align: center;
  border-bottom: 1px solid;
  padding-bottom: 30px;

  .name {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
  }

  .role {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 15px;
  }

  .contact {
    margin-top: 10px
  }

  a {
    margin: 0 5px;
  }
}

li {
  margin: 5px 0;
}

.clearfix {
  overflow: auto;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.topic-title {
  font-weight: bold;
  margin-right: 5px;
}

// consider with left pane
.main-header {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 10px;
}

.section-header {
  margin-top: 15px;
  padding-bottom: 10px;
  border-bottom: 1px solid;
}

.left-pane, .right-pane  {
  float: left;
}

.left-pane {
  width: 25%;
}

.right-pane {
  width: 75%;
  margin-bottom: 10px;

  li {
    line-height: 1.3em;
  }
}

.skills, .projects {
  ul {
    margin-top: 0;
  }
}

.web-version, .thanks-notes {
  margin: 40px;
  text-align: center;
}

.proficiency {
  color: #fff;
  border-radius: 3px;
  padding: 1px 6px;
  background-color: gray;
  font-size: 12px;

  // &.beginner {
  //   background-color: rgb(248, 110, 110);
  // }
  // &.intermediate {
  //   background-color: brown
  // }
}

.tldr {
  margin-top: 10px;

  ul {
    padding-left: 15px;
  }

  li {
    margin: 3px !important;
  }
}

@media screen
{
  margin: 30px;
  
  .only-print {
    display: none;
  }
}

// @media (min-width:320px)  { /* smartphones, iPhone, portrait 480x320 phones */ 

// }

@media (max-width:481px)  { /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ 
  .left-pane {
    width: 100%;
    margin-bottom: 10px;
  }

  .main-header {
    text-align: center;
    font-size: 16px;
    text-decoration: underline;
    margin-bottom: 1.2em;
  }

  .right-pane {
    width: 100%;
  }

  .contact {
    line-height: 1.5em;
  }

  a {
    text-shadow: 1px 1px 0px #ffe097;
  }
}

.projects {
  li {
    margin-bottom: 16px;  
  }
}
